*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: white;
  width: 100vw;
  height: 80px;
}

.logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.btn{
  text-decoration: none;
  color: white;
  background-color: #0061FF;
  padding: 6px 20px;
  margin: 10px;
}

.btn:hover{
  background-color: #3161E0;
}

ul{
  display: inline-block;
}

ul li a{
  display: inline-block;
  line-height: 75px;
  text-decoration: none;
  color: black;
  vertical-align: middle;
  font-weight: bold;
}

ul li a:hover{
  border-bottom: 2px solid #0061FF;
}


ul li{
  display: inline-block;
  margin: 0 30px;
  list-style: none;
  line-height: 80px;
}

.header-left{
  float: left;
  margin-left: 20px;
}

.header-right{
  float: right;
  margin-right: 20px;
}


/* jumbotron */

.jumbotron{
  background-color: #B4D0E7;
  min-height: 500px;
  margin-top: 80px;
}

/* .jumbotron::before{
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
} */


.container-jumbo{
  width: 80%;
  margin: 0 auto;
}


.jumbotron h1{
  padding-top: 50px;
  font-size: 60px;
  font-weight: bold;
}

.jumbo-left{
  float: left; 
  width: 35%;
  font-size: 18px;
  margin-top: 50px;
}

.jumbo-left p{
  margin: 20px 0 50px 0;
  font-size: 14px;
}

.screen{
  display: inline-block;
  width: 100px;
}

.jumbo-right{
  float: right;
  background-image: url(../img/jumbo.png);
  width: 700px;
  height: 400px;
  margin-top: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.big{
  margin: 20px 0 0 0;
}

.arrow i{
  font-size: 50px;
  color: black;
}

.container-white{
  background-color: white;
  height: 30px;
  margin-top: -55px;
}


/* main */

.container{
  width: 60%;
  margin: 0 auto;
}

.subtitle h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.first .subtitle{
  margin-top: 100px;
  margin-bottom: 40px;

}

.circle{
  background-color: white;
  color: white;
  line-height: 50px;
  border-radius: 50%;
  padding: 2px 8px;
}

.border-blu{
  border: 4px solid #0061FF;

}

.border-grey{
  border: 2px solid lightgrey;
  margin-left: 30px;
}

.column{
  display: inline-block;
  width: calc(100% / 3 - 4%);
  border: 1px solid grey;
  background-color: white;
  margin: 0 2%;
  padding-bottom: 30px;
}

.columns i{
  margin-right: 10px;
}

.title-col{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid grey ;
}

.col-right, .col-center, .col-left{
  float: left;
}

.content-col{
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
}

.col-right .content-col{
  padding-bottom: 70px;
}
.content-col h2{
  margin: 10px 0;
}

.price, .title-list{
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.color-grey{
  display: block;
  color: grey;
  margin-bottom: 40px;
}

.space, .pen, .user, .link{
  display: block;
  margin-bottom: 20px;
}

.btn-col{
  display: inline-block;
  margin: 30px 0;
  padding: 5px 30px;
  margin-bottom: 30px;
}

.link a{
  color: #0061FF;
}

.line{
  width: 50px;
  height: 20px;
  border-bottom: 1px solid grey;
}

.content-col li{
  list-style: none;
  margin: 20px 0;
}

.check{
  color: #0061FF;
}

.orizontal-col{
  border: 1px solid grey;
  margin: 40px 0;
}

.content-orizontal-col{
  position: relative;
  padding: 20px 30px;
}

.btn-orizontal{
  position: absolute;
  top: 20px;
  right: 50px;
  padding: 5px 40px;
}

.text-orizontal-col{
  display: inline-block;
  margin-top: 30px;
}