*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 80px;
  line-height: 80px;
}

.logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.btn{
  text-decoration: none;
  color: white;
  background-color: #0061FF;
  padding: 6px 20px;
  margin: 10px;
}

ul{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  vertical-align: middle;
  font-weight: bold;
}

ul li a:hover{
  border-bottom: 2px solid #0061FF;
}


ul li{
  display: inline-block;
  margin: 0 30px;
  list-style: none;
  line-height: 80px;
}

.header-left{
  float: left;
  margin-left: 20px;
}

.header-right{
  float: right;
  margin-right: 20px;
}


/* jumbotron */

.jumbotron{
  background-color: #B4D0E7;
  min-height: 500px;
}

.container-jumbo{
  width: 80%;
  margin: 0 auto;
}

.jumbotron h1{
  padding-top: 50px;
  font-size: 60px;
  text-align: left;
}

.jumbo-left{
  float: left; 
  width: 35%;
  font-size: 18px;
  margin-top: 50px;
}

.jumbo-left p{
  margin: 20px 0 50px 0;
}

.screen{
  display: inline-block;
  width: 100px;
}

.jumbo-right{
  float: right;
  background-image: url(../img/jumbo.png);
  width: 700px;
  height: 400px;
  margin-top: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.big{
  margin-top: 20px;
}


i{
  font-size: 50px;
  color: black;

}
